:root {
    --bg-light-purple-gradient: #465ab8;
    --bg-dark-purple-gradient: #261360;
    --bg-gradient-image: linear-gradient(90deg, var(--bg-light-purple-gradient), var(--bg-dark-purple-gradient));
    --bg-alt-gradient-image: linear-gradient(var(--bg-dark-purple-gradient), var(--bg-light-purple-gradient));
}

* {}

header {
    background-image: var(--bg-gradient-image);
}

header h1 {
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



section#searchForACity {
    margin: 20px;
}

section#searchForACity h2 {
    font-size: 48px;
    font-weight: bold;
}

section#searchForACity ul#previousSearches {
    list-style-type: none;
}

section#searchForACity .previousSearchInput {
    margin: 10px;
}





section#currentCityData {
    margin: 20px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

section#currentCityData label {
    display: block;
}



section#fiveDayForecast {
    margin: 20px;
}

section#fiveDayForecast .dayFrom5DayForecast {
    background-color: gray;
    color: white;
    text-align: left;
    margin: 10px;
    padding: 20px;
}
section#fiveDayForecast .dayFrom5DayForecast label {
    display: block;
}